body {
  font-family: 'Segoe UI', sans-serif;
  background: #eef2f7;
  margin: 0;
  padding: 0;
  color: #333;
}

header, footer {
  text-align: center;
  background: #2c3e50;
  color: white;
  padding: 15px;
}

